.vscode
azure/.terraform
azure/.terraform.lock.hcl
azure/terraform.tfvars
azure/terraform.tfstate

aws/.terraform
aws/.terraform.lock.hcl*
aws/terraform.tfvars
aws/terraform.tfstate*

gcp/.terraform
gcp/.terraform.lock.hcl
gcp/terraform.tfvars
gcp/terraform.tfstate

vsphere/.terraform
vsphere/.terraform.lock.hcl
vsphere/terraform.tfvars
vsphere/terraform.tfstate

